<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Book List!</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <h2 class="col" th:text="#{book.list}">Book List</h2>
        <div class="col_2">
            <div class="container text-center center-block">
                <a th:href="@{/(lang=ru_RU)}">RU</a>
                <a th:href="@{/(lang=en_US)}">EN</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/addBook" th:text="#{action.addBook}">add book</a>
        </div>
        <div class="col">
            <a href="/authorList" th:text="#{author.list}">Author List</a>
        </div>
        <div class="col">
            <a href="/genreList" th:text="#{genre.list}">Genre List</a>
        </div>
    </div>

</div>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" th:text="#{book.title}">Title</th>
            <th scope="col" th:text="#{book.author}">Authors</th>
            <th scope="col" th:text="#{book.genre}">Genres</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}" th:object="${book}">
            <td th:text="*{title}">Title</td>
            <td>
                <ul class="list-group" th:each="author : *{authors}">
                    <li class="list-group-item" th:text="${author.name}">Author1</li>
                </ul>
            </td>
            <td>
                <ul class="list-group" th:each="genre : *{genres}">
                    <li class="list-group-item" th:text="${genre.name}">Genre1</li>
                </ul>
            </td>
            <td>
                <a class="d-inline btn btn-primary" th:href="@{'/edit/'+ ${book.id}}" th:text="#{action.edit}">Edit</a>
            </td>
            <td>
                <a class="d-inline btn btn-primary"
                   style="background-color:red"
                   th:href="@{/deleteBook(id=${book.id})}"
                   th:text="#{action.delete}"
                   role="button">delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>