<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Edit Путку!</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <h2 class="col" th:text="#{genre.edit}">Genre edit</h2>
        <div class="col_2">
            <div class="container text-center center-block">
                <a th:href="@{__${#httpServletRequest.requestURI}__(lang=ru_RU)}">RU</a>
                <a th:href="@{__${#httpServletRequest.requestURI}__(lang=en_US)}">EN</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/" th:text="#{action.toBookList}">to book list</a>
            <a href="/genreList" th:text="#{genre.list}">Genre List</a>
        </div>
    </div>

</div>
<div class="container-fluid">
    <form id="edit-form" th:action="@{'/editGenre/'+ ${genre.id}}" th:method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col" th:text="#{name}">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${genre}">
                <th scope="row" th:text="*{id}">ID</th>
                <td>
                    <input class="form-control" name="name" type="text" th:value="*{name}" value="Genre1"/>
                </td>
                <td>
                    <a th:href="@{'/editGenre/'+ ${genre.id}}" th:text="#{action.cancel}">cancel</a>
                    <button class="btn btn-primary" type="submit" th:text="#{action.save}">Save</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

</div>

</body>
</html>