<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Book List!</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <h2 class="col" th:text="#{book.edit}">Book edit</h2>
        <div class="col_2">
            <div class="container text-center center-block">
                <a th:href="@{__${#httpServletRequest.requestURI}__(lang=ru_RU)}">RU</a>
                <a th:href="@{__${#httpServletRequest.requestURI}__(lang=en_US)}">EN</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/" th:text="#{action.toBookList}">to book list</a>
        </div>
    </div>

</div>
<div class="container-fluid">
    <form id="edit-form" th:action="@{'/edit/'+ ${book.id}}" th:method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col" th:text="#{book.title}">Title</th>
                <th scope="col" th:text="#{book.author}">Authors</th>
                <th scope="col" th:text="#{book.genre}">Genres</th>
                <th scope="col" th:text="#{book.content}">content</th>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${book}">
                <th scope="row" th:text="*{id}">ID</th>
                <td>
                    <input class="form-control" name="title" type="text" th:value="*{title}" value="title1"/>
                </td>
                <td>
                    <div class="form-group">
                        <div class="row" style="margin-left: 0px">
                            <select class="col form-control" multiple th:field="${book.authors}" id="authorSelect">
                                <option th:each="author : *{authors}"
                                        th:value="${author.id}"
                                        th:text="${author.name}">Author1
                                </option>
                            </select>
                        </div>
                        <div class="row" style="margin-left: 0px">

                            <select class="d-inline" id="addAuthorSelect">
                                <option th:each="author : ${authors}"
                                        th:value="${author.id}"
                                        th:text="${author.name}">Author1
                            </select>
                            <a class="d-inline btn btn-primary" onclick="addAuthor()" role="button">Add</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="row" style="margin-left: 0px">
                            <select class="col form-control" multiple th:field="${book.genres}" id="genreSelect">
                                <option th:each="genre : *{genres}"
                                        th:value="${genre.id}"
                                        th:text="${genre.name}">Genre1
                                </option>
                            </select>
                        </div>
                        <div class="row" style="margin-left: 0px">

                            <select class="d-inline" id="addGenreSelect">
                                <option th:each="genre : ${genres}"
                                        th:value="${genre.id}"
                                        th:text="${genre.name}">Genre
                            </select>
                            <a class="d-inline btn btn-primary" onclick="addGenre()" role="button">Add</a>


                        </div>
                    </div>
                </td>
                <td>
                    <input name="contentPath" type="text" th:value="*{contentPath}" value="ContentPath1"/>
                </td>
                <td>
                    <a th:href="@{'/edit/'+ ${book.id}}" th:text="#{action.cancel}">cancel</a>
                    <button class="btn btn-primary" type="submit" th:text="#{action.save}">Save</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

</div>

<div class="container">
    <h4 th:text="#{action.addComment}">Add comment</h4>
    <div class="row justify-content-center">
        <div class="col">
            <form th:action="@{'/addComment/'+ ${book.id}}" th:method="post">
                <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                <button class="form-control btn btn-primary" type="submit" th:text="#{action.save}">Save</button>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h4 th:text="#{comments}">Comments</h4>
    <ul class="list-group" th:each="comment : ${comments}">
        <li class="list-group-item d-flex justify-content-between">
            <span th:text="${comment.comment}">Comment</span>
            <span class="badge">
                    <a class="btn btn-danger"
                       th:href="@{/deleteComment(id=${comment.id})}"
                       th:text="#{action.delete}">Delete</a>
                </span>
        </li>
    </ul>

</div>


<script>
    function addAuthor() {
        var select = document.getElementById("addAuthorSelect");
        var option = select.options[select.selectedIndex];
        document.getElementById("authorSelect").options.add(option);
    }

    function addGenre() {
        var select = document.getElementById("addGenreSelect");
        var option = select.options[select.selectedIndex];
        document.getElementById("genreSelect").options.add(option);
    }
</script>

</body>
</html>